.env
.venv
**/.vscode/*
**/.bash/*
.dockercmd
**/docker-compose.yml
**/docker-compose-ethan.yml
./src/search_l3s_recsys.egg-info
./src/search_l3s_recsys.egg-info/*
**/__pycache__/*
**/*.egg-info/*
**/datasets/*
**/.test/*